@page
@model IndexModel
@{
    ViewData["Title"] = "Articles";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Articles.Count(); i++)
            {
                @Html.HiddenFor(m => @Model.Articles[i].Id)
                <tr>
                    <td>
                        <a asp-page="./Article/Details" 
                           asp-route-id="@Model.Articles[i].Id">
                           @Model.Articles[i].Title
                        </a>
                    </td>
                    <td>
                        @Model.Articles[i].Date
                    </td>
                    <td>
                        <button type="submit" 
                                asp-page-handler="Delete"
                                asp-route-id="@Model.Articles[i].Id">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>